src/n8n/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/ask",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": \"{{ $json.body.chatInput }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ],
      "id": "06dfef32-0d5e-4c02-9a6c-5cb77afaf2fe",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente que responde apenas com base nas informações recebidas. Não invente nada.Seja direto na resposta\n\n### A pergunta:\n{{ $('Webhook').item.json.body.chatInput }}\n###Essa é a resposta da pergunta:\n{{ $json.result[0][0] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "066d2aea-1a84-425a-a824-e5622439f6d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "34323dd2-6d14-492b-a889-aebcd6d72810",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        0
      ],
      "id": "627b666c-565b-47c0-a5b3-0c348ebeb5ee",
      "name": "Webhook",
      "webhookId": "34323dd2-6d14-492b-a889-aebcd6d72810"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "id": "74a7a4cb-83aa-4e8e-ba1e-6c645f7544f2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-pro-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        220
      ],
      "id": "a74f357b-e3b3-46dd-81ed-220bda12e99b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QMjvAwAHXr4yTcIZ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "353f9f73-1c0c-433a-a1da-0d8492604c01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "244ab00ac67a61cb6ee82fa87c690fcb2fb7ae9175c95d8fb1181399f9f9ca20"
  },
  "id": "1V351VqcZhtci2Jm",
  "tags": []
}